<div class="row">
        <div class="span3">
          <!--
          <div class="well fromtop">
            <input placeholder="URL..." type="text" class="input-medium" style="width: 95%" id="url-input">
            <textarea placeholder="Tags..." class="input-medium" style="width: 95%" id="tags-input"></textarea>
            <button class="btn">Send</button>
          </div>
          -->
          <div class="well fromtop">
            <div class="row">
              <div class="span1">
                <img class="numbee-thumb" src="https://si0.twimg.com/profile_images/2201732897/notch_weird_reasonably_small.png">
              </div>
              <div class="offset1">
                <span><strong>@{{ user.id }}</strong><br></span>
                <div style="margin-top: 10px">
                  <i><span>{{ user.name }}</span></i>
                  <span>{{ user.email }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="well">
            <ul class="nav nav-list">
              <li class="nav-header">
                <i class="icon-th-large"></i>
                Clients
              </li>
              <li>
                <a href="/client/new">Create Client</a>
              </li>
              <li>
                <a href="/clients">Manage Clients</a>
              </li>
            </ul>
          </div>
        </div>

        <!--<div class="span9"> 
            <form class="well fromtop">
              <h3>Share...</h3>
              <input placeholder="URL..." type="text" class="input-medium" style="width: 98%; margin-left: 1px" id="url-input">
              <div id="openwwrt" style="display: none">
                <textarea placeholder="Tags..." class="input-medium" style="width: 98%; margin-left: 1px" id="tags-input"></textarea>
                <button class="btn pull-right">Send</button>
                <div style="clear: both"></div>
              </div>
            </form>
        </div>-->

        <div class="span9 pull-right">
          <div class="well fromtop" style="text-align: center">
<p>Hi {{user.id}}!</p>
<p><b>{{client.id}}</b> is requesting access to your account.</p>
<p>Do you approve?</p>

<form class="form-horizontal" action="/oauth/decision" method="post">
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <input name="transaction_id" class="input-xlarge" type="hidden" value="{{transaction_id}}">
      </div>
    </div>
    <div class="form-actions">
    <input type="submit" value="Allow" class="btn btn-primary" id="allow">
    <input type="submit" value="Deny" class="btn" name="cancel" id="deny">
    </div>
</form>
          </div>
        </div>
      </div>
      <div class="row">
        <hr class="foot">
        <div class="offset1">aaa bbb ccc</div>
      </div>
    </div>
