div.span3.visible-desktop
  div.well.fromtop
    form.form-search
      .input-append
        input.span2.search-query(type='text', placeholder='Search..')
        button.btn(type='submit')
          i.icon-search
  div.well
    div.row
      div.span1
        img.numbee-thumb(src="#{gravatar(user.get('email'))}")
      div.offset1
        span
          strong= user.get('username');
          br
        div(style="margin-top: 10px")
          i
            span.rname= user.get('name')
          br
          span
            a(class="btn btn-mini", href="mailto:#{user.get('email')}")
              i.icon-envelope
  div.well
    ul.nav.nav-list
      li.nav-header
        i.icon-tags
        | Links
      li
        a(href="/new") Create Link
      li.nav-header
        i.icon-folder-close
        | Buckets
      li
        a(href='/buckets/new') Create Bucket
      li
        a(href='/#{user.get("username")}/buckets') My Buckets
      li.nav-header
        i.icon-th-large 
        | Clients
      li
        a(href="/client/new") Create Client
      li
        a(href="/clients") Manage Clients
      li.nav-header
        i.icon-user
        | Settings
      li
        a(href="/profile") Profile
          

