div.span3.visible-desktop
  // div.well.fromtop
    form.form-search
      .input-append
        input.span2.search-query(type='text', placeholder='Search..')
        button.btn(type='submit')
          i.icon-search
  div.well.fromtop
    div.row-fluid
      img.pull-left.margin-right-10.numbee-thumb(src="#{gravatar(user.get('email'))}")
      span.block
        strong= user.get('username');
      em
        span.rname= user.get('name')
      div.clearfix
      // span
        a.btn.btn-mini(href="mailto:#{user.get('email')}")
          i.icon-envelope
  // div.well
    ul.nav.nav-list
      li.nav-header
        i.icon-tags
        | Links
      li
        a(href="/new") Create Link 
      li.nav-header
        i.icon-folder-close
        | Buckets
      li
        a(href='/buckets/new') Create Bucket
      li
        a(href='/#{user.get("username")}/buckets') My Buckets
      li.nav-header
        i.icon-th-large 
        | Clients
      li
        a(href="/client/new") Create Client
      li
        a(href="/clients") Manage Clients
      li.nav-header
        i.icon-user
        | Settings
      li
        a(href="/profile") Profile
          

