mixin linkEntry(user, link)
  div.row
    div.span1
      img.numbee-thumb(src="#{gravatar(user.get('email'))}")
    div.span7
      strong= user.get('email')
      div(style="margin-top: 5px")
        a(href="#{link.get('uri')}")= link.get('uri')
        div(style="margin-top: 5px")
          for tag in link.get('tags')
            a(href="/tags/#{tag.get('name')}")= tag.get('name')+" "
    div.pull-right
      .btn-toolbar
        if link.get('user_id') === user.get('id')
          form(id=link.get('id'),style="display: none",method="post",action="/delete/#{link.get('id')}")
            input(type="hidden",name="_method",value="delete")
            input(type="hidden",name="_csrf",value=csrf)
          .btn-group
            a.btn
              i.icon-remove(onclick="document.getElementById('#{link.get('id')}').submit()",style="pointer: cursor")
        .btn-group
          a.btn.tweet(href='https://twitter.com/intent/tweet?text=Check%20this%20out!%20-%20&url=#{encodeURIComponent(link.get("uri"))}&via=urlship')
            i.icon-twitter
          a.btn.facebook(href='http://www.facebook.com/sharer.php?u=#{encodeURIComponent(link.get("uri"))}')
            i.icon-facebook-sign
          a.btn(href='/buckets/add_link/#{link.get("id")}')
            i.icon-tag
          a.btn.love
            i.icon-heart
  hr

