mixin linkEntry(link, usr, last)
  div.row-fluid.position-relative
    div.span12
      // img.pull-left.mobile.hidden-desktop(src="#{gravatar(usr.get('email'))}")
      img.pull-left.margin-right-10.desktop.visible-desktop(src='#{gravatar(usr.get("email"))}')
      div
        span.block.bold= usr.get('username')
        a.link(href="#{link.get('uri')}")= link.get('uri')
        div tags:
          for tag in link.get('tags')
            a(href="/tags/#{tag.get('name')}")= tag.get('name')+", "
    div.pull-right
      .btn-toolbar

        .btn-group.position-absolute
          a.btn.tweet(href='https://twitter.com/intent/tweet?text=Check%20this%20out!%20-%20&url=#{encodeURIComponent(link.get("uri"))}&via=urlship')
            i.icon-twitter
          a.btn.facebook(href='http://www.facebook.com/sharer.php?u=#{encodeURIComponent(link.get("uri"))}')
            i.icon-facebook-sign
          a.btn(href='/buckets/add_link/#{link.get("id")}')
            i.icon-tag
          a.btn.love
            i.icon-heart
          if usr.get('id') === user.get('id')
            form.btn.inline-block(id=link.get('id'), method="post", action="/delete/#{link.get('id')}")
              input(type="hidden",name="_method",value="delete")
              input(type="hidden",name="_csrf",value=csrf)
              span
                //.btn(type='submit')  javascript in order to submit the form
                i.icon-remove

    div.clearfix
  if !last
    hr

